$accent-color: #e7426a;
$logo: #b3d9f3;
$header-bg-color: #f7ebe5;
$hero-bgc-blue: rgba(152, 224, 194, 0.38);
$hero-bgc-pink: rgba(255, 252, 189, 0.45);
$primary-text-color: #292929;
$header-text-color: rgba(0, 0, 0, 0.79);
$nav-text-color: #2b1414;
